<a href="https://colab.research.google.com/github/ZachGermain/DSPS_zgermain/blob/master/EC_Project/EC_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pylab as pl
import numpy as np

Opening and Looking at Data

In [45]:
astDf = pd.read_csv("https://raw.githubusercontent.com/ZachGermain/DSPS_zgermain/master/EC_Project/asteroidsBelt.csv")
astDf.head()

         id         a         e          i spec_B
0  a0000001  2.769165  0.076009  10.594067      C
1  a0000002  2.772466  0.230337  34.836234      B
2  a0000003  2.669150  0.256942  12.988919     Sk
3  a0000004  2.361418  0.088721   7.141771      V
4  a0000005  2.574249  0.191095   5.366988      S

In [46]:
astDf.shape

(1256, 5)

In [47]:
astDf.describe()

                 a            e            i
count  1256.000000  1256.000000  1256.000000
mean      2.668575     0.142122     8.732625
std       0.299855     0.071539     5.978991
min       1.817514     0.004735     0.264810
25%       2.415790     0.085149     4.625334
50%       2.727534     0.139018     7.455825
75%       2.795298     0.188787    10.967992
max       4.283402     0.598097    38.936411

In [48]:
set(astDf.spec_B)

{'A',
 'B',
 'C',
 'Cb',
 'Cg',
 'Cgh',
 'Ch',
 'D',
 'K',
 'L',
 'Ld',
 'O',
 'R',
 'S',
 'Sa',
 'Sk',
 'Sl',
 'Sq',
 'Sr',
 'T',
 'U',
 'V',
 'X',
 'Xc',
 'Xe',
 'Xk'}

In [49]:
for i in set(astDf.spec_B):
  print("{0}: {1}".format(i, list(astDf.spec_B).count(i)))

A: 12
T: 12
K: 31
Xc: 59
Sk: 12
R: 4
Sq: 44
Xk: 39
S: 348
Cg: 9
O: 1
X: 111
L: 33
U: 1
C: 139
Sl: 47
D: 8
Ch: 135
V: 35
B: 56
Cgh: 15
Sa: 29
Xe: 24
Sr: 11
Ld: 11
Cb: 30

Some data processing: 
  Replacing transitional types with original types.
    Lets similar types be grouped together.
  Getting rid of types with less than 5% of the asteroids of the S-type as these are closer to outliers than clusters.

In [50]:
cTransitions = [ 'Cb', 'Cg', 'Cgh', 'Ch' ]
sTransitions = [ 'Sa', 'Sk', 'Sl', 'Sq', 'Sr' ]
xTransitions  = [ 'Xc', 'Xe', 'Xk' ]
lTransitions = [ 'Ld' ]

for c in cTransitions:
  astDf["spec_B"] = astDf["spec_B"].str.replace(c, 'C')

for s in sTransitions:
  astDf["spec_B"] = astDf["spec_B"].str.replace(s, 'S')

for x in xTransitions:
  astDf["spec_B"] = astDf["spec_B"].str.replace(x, 'X')

for l in lTransitions:
  astDf["spec_B"] = astDf["spec_B"].str.replace(l, 'L')

set(astDf.spec_B)

{'A', 'B', 'C', 'D', 'K', 'L', 'O', 'R', 'S', 'T', 'U', 'V', 'X'}

In [58]:
tinyTypes = [ 'A', 'D', 'O', 'R', 'T', 'U' ]

for t in tinyTypes:
  astDf = astDf[ astDf["spec_B"] != t ]

set(astDf.spec_B)

{'B', 'C', 'K', 'L', 'S', 'V', 'X'}

In [59]:
for i in set(astDf.spec_B):
  print("{0}: {1}".format(i, list(astDf.spec_B).count(i)))

C: 328
S: 491
K: 31
V: 35
X: 233
B: 56
L: 44

In [60]:
astDf.head()

         id         a         e          i spec_B
0  a0000001  2.769165  0.076009  10.594067      C
1  a0000002  2.772466  0.230337  34.836234      B
2  a0000003  2.669150  0.256942  12.988919      S
3  a0000004  2.361418  0.088721   7.141771      V
4  a0000005  2.574249  0.191095   5.366988      S

In [61]:
astDf.describe()

                 a            e            i
count  1218.000000  1218.000000  1218.000000
mean      2.664952     0.142884     8.695008
std       0.293857     0.071732     5.954243
min       1.817514     0.004735     0.264810
25%       2.414451     0.085559     4.620034
50%       2.726381     0.140029     7.459324
75%       2.793944     0.190248    10.897491
max       4.283402     0.598097    38.936411

Finding Cluster Centers

In [62]:
numClusters = len(set(astDf.spec_B))
numClusters

7